node_modules/
.next/
out/
.env
.env.local
.env.*.local
.vercel/
*.log
.DS_Store
npm-debug.log*
JURNAL-PKL-MODERN-ICONS.zip
*.tsbuildinfo

# Prisma local artifacts
prisma/*.db
prisma/*.db-journal

# IDE
.vscode/
.idea/
